<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/semantic.min.css">
        <style>
        body{
          padding-top: 60px;
        }
        </style>
        <script src="js/modernizr.min.js"></script>
        <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>-->
        <!-- // <script src="js/angular.min.js"></script>        -->
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js'></script> 
    </head>
    <body ng-app='app'>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        

        <div class="ui grid">
          <div class="four wide column">
            <div class="ui segment"></div>
          </div>
          <div class="four wide column">
            <div class="ui segment"></div>
          </div>
          <div class="four wide column">
            <div class="ui segment"></div>
          </div>
          <div class="four wide column">
            <div class="ui segment"></div>
          </div>
        </div>

        <div class="ui one column page grid" ng-controller='CartController'>
          <div class="column">
            <div class="ui segment">
              <h1>Your order</h1>
              <div ng-repeat='item in items'>
                <span>{{item.title}}</span>
                <input type='text' ng-model='item.quantity'>
                <span>{{item.price |currency}}</span>
                <span>{{item.price * item.quantity | currency}}</span>
                <button ng-click='remove($index)'>Remove</button>
              </div>
            </div>
          </div>
          
        </div>
        <script>
        var app = angular.module('app', []);
        app.controller('CartController', function ($scope) {
          $scope.items = [
            {title: 'Paint pots', quantity: 8, price: 3.95},
            {title: 'Polka', quantity: 17, price: 12},
            {title: 'Pebbles', quantity: 5, price: 6.95}
          ];
          $scope.remove = function(index) {
            console.log(index);
            var x =$scope.items.splice(index, 1);
            console.log(x);
          };

        });
        </script>
        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
        <!-- // <script src="js/jquery.min.js"></script> -->
        
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
